<h1 style="text-align: center;">Editing Feature</h1>

<div class="container">
<%= render 'form', feature: @feature%>
<br>
<%= link_to 'Show', @feature, class:"btn btn-primary" %> |
<%= link_to 'Back', features_path , class: "btn btn-info" %>

</div>